*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.nav{
  display: flex;
  justify-content: flex-end;
}
.ul_container{
  display: none;
}
.fa-minus-square{
  display: none;
}
.fa-bars{
  display: none;
}
.fa-minus-square, .fa-bars{
  font-size: 80px;
  padding: 20px 30px;
}
.js-active{
  display: block;
}
